<h1>The A Team | Weather Forecaster</h1>
<%= form_with url: cities_search_path, method: :get, local: true do |form| %>
 <%= form.label :name %>
 <%= form.text_field :name %>
 <%= form.submit "Submit" %>
<% end %>

<%= @dad_joke_output["setup"] %>
<br>
<%= @dad_joke_output["punchline"] %>


