<h1><%= @city %> Weather Forecast</h1>

<h2>Current Temp: <%= (@temp.to_f - 273.15).round(2) %>°C</h2>

<h2><%= @output %></h2>

<% @search.each do | search | %>
    <p><%= search[:search] %></p>
<% end %>


<%= @total[9] %>

<br>


<%= @total[9]["dt_txt"] %>
<br>
<img src="http://openweathermap.org/img/w/<%= @total[9]["weather"][0]["icon"] %>.png">
<br>
<%= @total[9]["weather"][0]["description"] %>
<br>
<%= @total[9]["main"]["temp"] %>
<br>
<%= @total[9]["main"]["temp_min"] %>
<br>
<%= @total[9]["main"]["temp_max"] %>
<br>
<%= @total[9]["main"]["humidity"] %>
<br>

<br>

<%= @total[17]["dt_txt"] %>

<br>

<%= @total[25]["dt_txt"] %>

<br>

<%= @total[33]["dt_txt"] %>

<br>

<%= @total[39]["dt_txt"] %>

<br>

<%= link_to "Back", "/" %>

<%= @dad_joke_output["setup"] %>
<%= @dad_joke_output["setup"] %>


