<% if @temp.nil? %>
   <section>
        <h1>City Not Found</h1>
        <%= link_to "Back", "/" %>
   </section>
<% else %>

<section class="currentWeatherSection">
    <section class="currentWeatherContainer">

    <div style="background-color:<%= @color %>">

        <div class="currentLocationMainElements">
            <img class="currentLocationWeatherIcon" src="http://openweathermap.org/img/w/<%= @output["weather"][0]["icon"] %>.png">
            <h1 class="currentLocationShowTitle"><%= @city %> Weather</h1>
            <div class="currentLocationTempAndDescriptionSection">
                <h2 class="currentLocationShowTemp">Current Temp: <%= (@output["main"]["temp"].to_f - 273.15).round(2) %>°C</h2>
                <h2 class="currentLocationShowDescription">Description: <%= @output["weather"][0]["description"] %></h2>
            </div>
        </div>
        <section class="currentWeatherMainOutput">
            <div class="currentWeatherOutputModule">
                <h2>Feels Like: <%= (@output["main"]["feels_like"].to_f - 273.15).round(2) %>°C</h2>
            </div>
            <div class="currentWeatherOutputModule"v>
                <h2>Min Temp: <%= (@output["main"]["temp_min"].to_f - 273.15).round(2) %>°C</h2>
            </div>
            <div class="currentWeatherOutputModule">
                <h2>Max Temp: <%= (@output["main"]["temp_max"].to_f - 273.15).round(2) %>°C</h2>
            </div>
            <div class="currentWeatherOutputModule">
                <h2>Humidity: <%= @output["main"]["humidity"] %>%</h2>
            </div>
        <section>
    </section>
</section>

<section class="forecastTitleSection">
    <h2 class="fiveDayForecastTitleText"><%= @city.capitalize %> 5 Day Forecast</h2>
</section>

<section class="forecastSection">
    <section class="forecastSectionMain">
        <div class="forecastOutputContainers">
            <div class="forecastOutputContainersMainInfo">
                <p><%= @total[9]["dt_txt"] %></p>
                <div><img src="http://openweathermap.org/img/w/<%= @total[9]["weather"][0]["icon"] %>.png"></div>
                <p><%= @total[9]["weather"][0]["description"] %></p>
            </div>
            <p>Temperature: <%= (@total[9]["main"]["temp"].to_f - 273.15).round(2) %>°C</p>
            <p>Min Temp: <%= (@total[9]["main"]["temp_min"].to_f - 273.15).round(2) %>°C</p>
            <p>Max Temp: <%= (@total[9]["main"]["temp_max"].to_f - 273.15).round(2) %>°C</p>
            <p>Humidity: <%= @total[9]["main"]["humidity"] %>%</p>
        </div>


        <div class="forecastOutputContainers">
            <div class="forecastOutputContainersMainInfo">
                <p><%= @total[15]["dt_txt"] %></p>
                <div><img src="http://openweathermap.org/img/w/<%= @total[9]["weather"][0]["icon"] %>.png"></div>
                <p><%= @total[15]["weather"][0]["description"] %></p>
            </div>
            <p>Temperature: <%= (@total[15]["main"]["temp"].to_f - 273.15).round(2) %>°C</p>
            <p>Min Temp: <%= (@total[15]["main"]["temp_min"].to_f - 273.15).round(2) %>°C</p>
            <p>Max Temp: <%= (@total[15]["main"]["temp_max"].to_f - 273.15).round(2) %>°C</p>
            <p>Humidity: <%= @total[15]["main"]["humidity"] %>%</p>
        </div>


        <div class="forecastOutputContainers">
            <div class="forecastOutputContainersMainInfo">
                <p><%= @total[25]["dt_txt"] %></p>
                <div><img src="http://openweathermap.org/img/w/<%= @total[9]["weather"][0]["icon"] %>.png"></div>
                <p><%= @total[25]["weather"][0]["description"] %></p>
            </div>
            <p>Temperature: <%= (@total[25]["main"]["temp"].to_f - 273.15).round(2) %>°C</p>
            <p>Min Temp: <%= (@total[25]["main"]["temp_min"].to_f - 273.15).round(2) %>°C</p>
            <p>Max Temp: <%= (@total[25]["main"]["temp_max"].to_f - 273.15).round(2) %>°C</p>
            <p>Humidity: <%= @total[25]["main"]["humidity"] %>%</p>
        </div>


        <div class="forecastOutputContainers">
            <div class="forecastOutputContainersMainInfo">
                <p><%= @total[33]["dt_txt"] %></p>
                <div><img src="http://openweathermap.org/img/w/<%= @total[9]["weather"][0]["icon"] %>.png"></div>
                <p><%= @total[33]["weather"][0]["description"] %></p>
            </div>
            <p>Temperature: <%= (@total[33]["main"]["temp"].to_f - 273.15).round(2) %>°C</p>
            <p>Min Temperature: <%= (@total[33]["main"]["temp_min"].to_f - 273.15).round(2) %>°C</p>
            <p>Max Temperature: <%= (@total[33]["main"]["temp_max"].to_f - 273.15).round(2) %>°C</p>
            <p>Humidity: <%= @total[33]["main"]["humidity"] %>%</p>
        </div>


        <div class="forecastOutputContainers">
            <div class="forecastOutputContainersMainInfo">
                <p><%= @total[39]["dt_txt"] %></p>
                <div><img src="http://openweathermap.org/img/w/<%= @total[9]["weather"][0]["icon"] %>.png"></div>
                <p><%= @total[39]["weather"][0]["description"] %></p>
            </div>
            <p>Temperature: <%= (@total[39]["main"]["temp"].to_f - 273.15).round(2) %>°C</p>
            <p>Min Temp: <%= (@total[39]["main"]["temp_min"].to_f - 273.15).round(2) %>°C</p>
            <p>Max Temp: <%= (@total[39]["main"]["temp_max"].to_f - 273.15).round(2) %>°C</p>
            <p>Humidity: <%= @total[39]["main"]["humidity"] %>%</p>
        </div>
    </section>
</section>

<section class="previousSearchesTitleSection">
    <h2 class="previousSearchesTitleText"> Recent Searches </h2>
</section>

<section class="previousSearchesSection">
    <div class="previousSearches">
        <% @search.each do | search | %>
            <p class="previousSearch"><%= search[:search] %></p>
        <% end %>
    </div>
</section>

<section class="backButtonSection">
    <div class="backButton"><%= link_to "Back", "/" %></div>
<section>

</section>

<% end %>